<a href="<%= root_url %>"><span class='nav-item'>asdfHome</span></a>
<%=link_to "Products", products_path, class: 'nav-item' %>
<%=link_to "Contact", contact_path, class: 'nav-item' %>
<%=link_to "Bio", bio_path, class: 'nav-item' %>
<%=link_to "Purchase", purchase_path, class: 'nav-item' %>