<%= form_for(commodity) do |f| %>
  <% if commodity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commodity.errors.count, "error") %> prohibited this commodity from being saved:</h2>

      <ul>
      <% commodity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Pouches %>
    <%= f.text_field :Pouches %>
  </div>

  <div class="field">
    <%= f.label :Mugs %>
    <%= f.text_field :Mugs %>
  </div>

  <div class="field">
    <%= f.label :Clothing %>
    <%= f.text_field :Clothing %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
